# This is the autostart file for the weather app. Controls systemd.
# Permissions need to be 644
# Needs to be stored in /lib/systemd/system
# Commands to load it....
#  sudo systemctl daemon-reload
#  sudo systemctl enable myweather.service
#  sudo reboot
#  sudo systemctl status myweather.service  -- just to check its running

[Unit]
Description=My Weather Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/master/weather/weather.py > /home/pi/master/weather/log.log 2>&1

[Install]
WantedBy=multi-user.target
